/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #bfbfbf, #ffffff);
  padding: 20px;
}

.card {
  background: #fff;
  padding: 35px 40px;
  width: 95%;
  max-width: 450px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

.card h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 15px;
  margin-bottom: 25px;
  color: #555;
}

/* File Input */
input[type="file"] {
  padding: 12px;
  border: 2px dashed #6a11cb;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

input[type="file"]:hover {
  background: #f5edff;
  border-color: #2575fc;
}

/* Button */
#convert {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

#convert:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 15px rgba(0,0,0,0.2);
}

/* Status text */
#status {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

/* Download link */
#result a {
  margin-top: 15px;
  display: inline-block;
  padding: 12px 20px;
  background: #2575fc;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

#result a:hover {
  background: #6a11cb;
}

/* Loading Animation */
.loader {
  margin: 15px auto 0;
  border: 4px solid #ddd;
  border-top: 4px solid #6a11cb;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
#logout {
  width: 35%;
  padding: 10px;
  margin-top: 10px;
  background:#ffe600;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 12px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

#logout:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 15px rgba(0,0,0,0.2);
}

#downloadBtn
{
  width: 15%;
  padding: 10px;
  margin-top: 10px;
  background:#000000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 12px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}
